<%- layout('layout/boilerplate') %> 

    <h1>show</h1>
    <p>Title: <%= note.title %> </p>
    <p>Note: <%= note.note %> </p>
    <form action="/notes/<%= note._id %>?_method=DELETE" method="post">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-info text-white" href="/notes/<%= note._id %>/edit"  type="button">Edit</a>
    </form>
